<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to board.title, board_path(board) %>
        </h4>
        <%= video_tag board.video.url, controls: true, class: 'video-player' if board.video.present? %>
        <% if current_user.own?(board) %>
          <%= render 'crud_menus', board: board %>
        <% else %>
          <%= render 'like_button', board: board  %>
        <% end %>
        <p class="card-text"><%= board.body %></p>
        <div>
          <% board.tags.each do |tag|%>
            <%= link_to tag.name, boards_path(tag_id: tag.id), class: 'badge rounded-pill bg-primary text-decoration-none text-white' %>
          <% end %>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item">
            <td style="width: 60px">
              <%= image_tag board.user.avatar_url, class: 'rounded-circle', size: '25x25' %>
            </td>
            <%= board.user.decorate.nickname %>
          </li>
          <li class="list-inline-item">
            <%= icon 'far', 'calendar' %>
            <%= l board.created_at, format: :long %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>