<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= 'クリップ詳細' %></h1>

      <!-- クリップ内容 -->
      <article class="card">
        <div class="card-body">
          <div class='row'>
             <h3 class="d-inline"><%= @board.title %></h3>
            <div>
              <%= video_tag @board.video.url, autoplay: true, muted: false, class: 'video-player', controls: true %>
            </div>
            <div>
              <%= yield %>
            </div>
            <div class='col-md-9'>
              <br>
              <% if current_user.own?(@board) %>
                <%= render 'crud_menus', board: @board %>
              <% else %>
                <%= render 'like_button', board: @board  %>
              <% end %>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @board.user.decorate.nickname %></li>
                <li class="list-inline-item"><%= l @board.created_at, format: :long  %></li>
              </ul>
            </div>
          </div>
          <p><%= simple_format(@board.body) %></p>
        </div>
      </article>
    </div>
  </div>

  <!-- コメントフォーム -->
  <%= render 'comments/form', { board: @board, comment: @comment } %>

  <!-- コメントエリア -->
  <%= render 'comments/comments', { comments: @comments } %>
</div>
